WebPrint/Connected Services/ServiceReferenc2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53178/PrintService/Service1.svc?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53178/PrintService/Service1.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:53178/PrintService/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53178/PrintService/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfPrintService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FiledMetadata">
    <wsdl:part name="parameters" element="tns:FiledMetadata" />
  </wsdl:message>
  <wsdl:message name="FiledMetadata_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
  </wsdl:message>
  <wsdl:message name="ReturnValue">
    <wsdl:part name="parameters" element="tns:ReturnValue" />
  </wsdl:message>
  <wsdl:message name="IService1_InitializePrintersToDb_InputMessage">
    <wsdl:part name="parameters" element="tns:InitializePrintersToDb" />
  </wsdl:message>
  <wsdl:message name="IService1_InitializePrintersToDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializePrintersToDbResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPrintersFromDb_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintersFromDb" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPrintersFromDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintersFromDbResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetQueueDataToDb_InputMessage">
    <wsdl:part name="parameters" element="tns:SetQueueDataToDb" />
  </wsdl:message>
  <wsdl:message name="IService1_SetQueueDataToDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetQueueDataToDbResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPqueuesFromDb_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPqueuesFromDb" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPqueuesFromDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPqueuesFromDbResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Print_InputMessage">
    <wsdl:part name="parameters" element="tns:Print" />
  </wsdl:message>
  <wsdl:message name="IService1_Print_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Upload">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Upload" name="FiledMetadata" message="tns:FiledMetadata" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadResponse" name="ReturnValue" message="tns:ReturnValue" />
    </wsdl:operation>
    <wsdl:operation name="InitializePrintersToDb">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InitializePrintersToDb" message="tns:IService1_InitializePrintersToDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InitializePrintersToDbResponse" message="tns:IService1_InitializePrintersToDb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrintersFromDb">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPrintersFromDb" message="tns:IService1_GetPrintersFromDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPrintersFromDbResponse" message="tns:IService1_GetPrintersFromDb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetQueueDataToDb">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetQueueDataToDb" message="tns:IService1_SetQueueDataToDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetQueueDataToDbResponse" message="tns:IService1_SetQueueDataToDb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPqueuesFromDb">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPqueuesFromDb" message="tns:IService1_GetPqueuesFromDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPqueuesFromDbResponse" message="tns:IService1_GetPqueuesFromDb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Print">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Print" message="tns:IService1_Print_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrintResponse" message="tns:IService1_Print_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#BasicHttpBinding_IService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Upload">
      <soap:operation soapAction="http://tempuri.org/IService1/Upload" style="document" />
      <wsdl:input name="FiledMetadata">
        <soap:header message="tns:FiledMetadata_Headers" part="FileName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReturnValue">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializePrintersToDb">
      <soap:operation soapAction="http://tempuri.org/IService1/InitializePrintersToDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrintersFromDb">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPrintersFromDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetQueueDataToDb">
      <soap:operation soapAction="http://tempuri.org/IService1/SetQueueDataToDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPqueuesFromDb">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPqueuesFromDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Print">
      <soap:operation soapAction="http://tempuri.org/IService1/Print" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:53178/PrintService/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>