WebPrint/Connected Services/ServiceReferenc2/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfPrintService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfPrintService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPrinter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Printer" nillable="true" type="tns:Printer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrinter" nillable="true" type="tns:ArrayOfPrinter" />
  <xs:complexType name="Printer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Pc_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prn_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Printer" nillable="true" type="tns:Printer" />
  <xs:complexType name="Pqueue">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileStatus" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PageFrom" type="xs:int" />
      <xs:element minOccurs="0" name="PageTo" type="xs:int" />
      <xs:element minOccurs="0" name="PapersPrinting" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PcName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrintPages" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrintedConfirm" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PrinterId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pqueue" nillable="true" type="tns:Pqueue" />
</xs:schema>